[submodule "FCCAnalyses_Winter2023"]
	path = FCCAnalyses_Winter2023
	url = git@github.com:dntounis/FCCAnalyses_Winter2023.git
[submodule "weaver-training/weaver-core"]
	path = weaver-training/weaver-core
	url = git@github.com:dntounis/weaver-core.git
